/* Web Fonts */
/* ---------------- Work Sans -------------- */
/* Work Sans: Light*/
@font-face {
  font-family: 'Work Sans';
  src: url("../fonts/worksans-light.woff2") format("woff2"), url("../fonts/worksans-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Work Sans: Regular */
@font-face {
  font-family: 'Work Sans';
  src: url("../fonts/worksans-light.woff2") format("woff2"), url("../fonts/worksans-light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Work Sans: Medium*/
@font-face {
  font-family: 'Work Sans';
  src: url("../fonts/worksans-medium.woff2") format("woff2"), url("../fonts/worksans-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* ---------------- Crimson -------------- */
/* Crimson Text: Normal */
@font-face {
  font-family: 'Crimson Text';
  src: url("../fonts/crimsontext-regular.woff2") format("woff2"), url("../fonts/crimsontext-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Crimson Text: Semibold */
@font-face {
  font-family: 'Crimson Text';
  src: url("../fonts/crimsontext-semibold.woff2") format("woff2"), url("../fonts/crimsontext-semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Crimson Text: Bold */
@font-face {
  font-family: 'Crimson Text';
  src: url("../fonts/crimsontext-bold.woff2") format("woff2"), url("../fonts/crimsontext-bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* Typography Styles */
/* line 58, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.h2 {
  font-family: 'Crimson Text';
  font-size: 26px;
  line-height: 30px;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 17px;
  text-align: center;
}

/* line 66, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.h2:after {
  content: '';
  background: #D9D1BA;
  height: 1px;
  width: 90%;
  position: absolute;
  bottom: 0;
  left: -10%;
}

/* line 76, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.p {
  font-size: 14px;
  line-height: 20px;
}

@media only screen and (min-width: 992px) {
  /* line 84, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
  .h2 {
    font-size: 50px;
    margin-bottom: 55px;
    padding-bottom: 30px;
    padding-left: 35px;
    text-align: left;
  }
  /* line 90, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
  .h2:after {
    width: 53%;
  }
  /* line 94, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
  .p {
    font-size: 14px;
    line-height: 23px;
  }
  /* line 99, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
  .paragraph-block {
    width: 850px;
    margin: 0 auto;
  }
}

/* Common Global Styles */
/* line 107, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.layout-blocks {
  position: relative;
}

/* line 109, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.layout-blocks .layout-blocks-button {
  position: absolute;
  right: 0;
  top: 0;
}

@media only screen and (min-width: 992px) {
  /* line 118, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
  .layout-blocks .layout-blocks-button {
    right: 35px;
  }
}

/* Hyper link Styles */
/* line 127, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.more-button1 {
  display: flex;
}

/* line 128, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.more-button1 .text {
  color: #000;
  font-weight: 500;
  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
}

@media only screen and (min-width: 992px) {
  /* line 133, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
  .more-button1 .img {
    width: 20px;
  }
}

/* Modal */
/* line 140, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.modal-init {
  overflow: hidden;
}

/* line 142, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.modal-init:after {
  content: ' ';
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  top: 0;
  bottom: 0;
  z-index: 6;
}

/* line 158, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.modal-wrapper {
  background: rgba(67, 89, 34, 0.95);
  top: 50%;
  position: absolute;
  z-index: 10;
  transform: translateY(-50%);
  width: auto;
  margin: 0 20px 0 20px;
  left: 0;
  right: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 172, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.modal-wrapper .modal-close {
  opacity: 1;
  width: 27px;
  height: 27px;
  text-align: center;
  position: absolute;
  top: -27px;
  right: 0;
  background: rgba(67, 89, 34, 0.95);
  cursor: pointer;
}

/* line 182, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.modal-wrapper .modal-close .close-black {
  display: none;
}

/* line 184, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.modal-wrapper .description {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  text-align: center;
  line-height: 20px;
}

/* line 190, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.modal-wrapper .description .separated {
  display: block;
  padding-top: 20px;
}

/* line 191, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.modal-wrapper .description a {
  color: #fff;
}

@media only screen and (min-width: 480px) {
  /* line 198, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
  .modal-wrapper {
    width: 430px;
    margin: 0 auto;
    background: #fff;
    padding-top: 50px;
  }
  /* line 199, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
  .modal-wrapper .modal-close {
    top: 10px;
    right: 10px;
    background: #F2F2F2;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
  }
  /* line 200, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
  .modal-wrapper .modal-close .close-white {
    display: none;
  }
  /* line 201, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
  .modal-wrapper .modal-close .close-black {
    display: block;
    width: 10;
    height: 10px;
  }
  /* line 204, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
  .modal-wrapper .description {
    font-size: 14px;
    color: #000;
    font-weight: 400;
  }
  /* line 206, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
  .modal-wrapper .description .separated {
    padding-top: 0;
  }
  /* line 207, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
  .modal-wrapper .description a {
    color: #B1D95B;
    font-weight: 500;
  }
}

@media only screen and (min-width: 768px) {
  /* line 213, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
  .modal-wrapper {
    width: 430px;
    margin: 0 auto;
  }
}

/* Site Header */
/* line 218, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.site-header {
  background: #fff;
}

/* line 220, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.site-header .navbar {
  padding-top: 0;
  padding-left: 0;
  background: white;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, white 100%);
  z-index: 5;
}

/* line 226, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.site-header .navbar .navbar-brand {
  margin-left: 15px;
}

/* line 231, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.site-header .navbar-brand img {
  width: 170px;
  height: 39px;
}

@media only screen and (min-width: 1200px) {
  /* line 240, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
  .site-header .navbar {
    padding-left: 40px;
    padding-top: 0;
    padding-bottom: 90px;
  }
  /* line 244, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
  .site-header .navbar .navbar-brand {
    margin-left: 0;
    margin-top: 5px;
  }
  /* line 250, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
  .site-header .navbar-brand img {
    width: 275px;
    height: auto;
  }
}

/* Navigation  */
/* line 262, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.nav-trigger {
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.35s;
  transition-timing-function: linear;
  transition-delay: 0s;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  overflow: visible;
  margin-right: 0;
  top: 5px;
  position: relative;
  outline: 0;
}

/* line 279, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.nav-trigger:hover {
  opacity: 0.7;
}

/* line 282, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.nav-trigger:focus {
  outline: 0 !important;
  border: 0 !important;
}

/* line 287, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.nav-trigger.active {
  outline: 0;
}

/* line 289, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.nav-trigger.active:hover {
  opacity: 0.7;
}

/* line 293, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.nav-trigger-box {
  width: 28px;
  height: 24px;
  display: inline-block;
  position: relative;
}

/* line 299, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.nav-trigger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
  width: 28px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.35s;
  transition-timing-function: ease;
}

/* line 311, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.nav-trigger-inner::after {
  width: 14px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.35s;
  transition-timing-function: ease;
  content: "";
  display: block;
  bottom: -10px;
}

/* line 324, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.nav-trigger-inner::before {
  width: 28px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.35s;
  transition-timing-function: ease;
  content: "";
  display: block;
  top: -10px;
}

/* line 339, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.nav-trigger-slider .nav-trigger-inner {
  top: 2px;
}

/* line 341, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.nav-trigger-slider .nav-trigger-inner::before {
  top: 10px;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.35s;
}

/* line 347, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.nav-trigger-slider .nav-trigger-inner::after {
  top: 20px;
}

/* line 353, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.nav-trigger-slider.active .nav-trigger-inner {
  width: 36px;
  transform: translate3d(0, 10px, 0) rotate(-45deg);
}

/* line 356, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.nav-trigger-slider.active .nav-trigger-inner::before {
  width: 36px;
  transform: rotate(45deg) translate3d(5.71429px, -6px, 0);
  opacity: 0;
}

/* line 361, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.nav-trigger-slider.active .nav-trigger-inner::after {
  width: 36px;
  transform: translate3d(0, -20px, 0) rotate(90deg);
}

/* line 367, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.active-menu {
  position: relative;
  transition: all 1s linear 0s;
}

/* line 370, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.active-menu:before {
  content: '';
  background: #B1D95B;
  left: 0;
  right: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: all 1s linear 0s;
  padding-bottom: 90px;
}

/* line 383, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.navbar-collapse {
  padding-top: 0;
}

/* line 385, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.navbar-collapse ul.navbar-nav {
  padding-top: 56px;
  padding-bottom: 100px;
}

/* line 388, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.navbar-collapse ul.navbar-nav .nav-item {
  margin-right: 35px;
  transition: all 0.5s linear 0s;
}

/* line 392, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.navbar-collapse ul.navbar-nav .nav-link {
  color: #fff;
  font-size: 26px;
  font-weight: 500;
  padding-left: 55px;
  padding-bottom: 11px;
  border-bottom: 1px solid #000000;
  transition: all 0.5s linear 0s;
}

@media only screen and (min-width: 992px) {
  /* line 406, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
  .navbar-collapse {
    justify-content: flex-end;
  }
  /* line 407, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
  .navbar-collapse ul.navbar-nav {
    padding-top: 8px;
    padding-right: 0;
    margin-right: 0 !important;
    padding-bottom: 0;
  }
  /* line 412, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
  .navbar-collapse ul.navbar-nav .nav-link {
    color: #000;
    font-size: 12px;
    font-weight: 400;
    padding-left: 0;
    padding-right: 0;
    border-bottom: 0;
    position: relative;
  }
  /* line 420, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
  .navbar-collapse ul.navbar-nav .nav-link:hover {
    color: #B1D95B;
    padding-bottom: 6px;
  }
  /* line 423, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
  .navbar-collapse ul.navbar-nav .nav-link:hover:after {
    display: block;
    width: 100%;
  }
  /* line 428, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
  .navbar-collapse ul.navbar-nav .nav-link:after {
    display: none;
    content: '';
    height: 3px;
    position: absolute;
    bottom: 0;
    background: #B1D95B;
    left: 0;
    right: 0;
    width: 0;
  }
}

@media only screen and (min-width: 1200px) {
  /* line 448, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
  .navbar-collapse ul.navbar-nav {
    padding-top: 8px;
    padding-right: 0;
    margin-right: 0 !important;
    padding-bottom: 0;
  }
  /* line 453, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
  .navbar-collapse ul.navbar-nav .nav-item {
    margin-right: initial;
    margin-left: 37px;
  }
  /* line 454, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
  .navbar-collapse ul.navbar-nav .nav-item:first-child {
    margin-left: 0;
  }
  /* line 460, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
  .navbar-collapse ul.navbar-nav .nav-link {
    font-size: 15px;
  }
}

/* Home: Hero Slider */
@keyframes "swiper-preloader-spin" {
  100% {
    transform: rotate(360deg);
  }
}

/* line 477, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.slider-wrapper {
  padding-left: 0;
  padding-right: 0;
  overflow-x: hidden;
}

/* line 482, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}

/* line 490, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-container .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000;
}

/* line 500, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-container-vertical > .swiper-wrapper {
  flex-direction: column;
}

/* line 503, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-container-vertical > .swiper-pagination-bullets {
  right: 10px;
  top: 50%;
  transform: translate3d(0px, -50%, 0);
}

/* line 507, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 6px 0;
  display: block;
}

/* line 512, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-container-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
}

/* line 516, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-container-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  display: inline-block;
  transition: 200ms transform, 200ms top;
}

/* line 521, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-container-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
  width: 100%;
  height: 4px;
  left: 0;
  top: 0;
}

/* line 527, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-container-vertical > .swiper-pagination-progressbar {
  width: 4px;
  height: 100%;
  left: 0;
  top: 0;
}

/* line 533, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-container-vertical > .swiper-scrollbar {
  position: absolute;
  right: 3px;
  top: 1%;
  z-index: 50;
  width: 5px;
  height: 98%;
}

/* line 542, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
  transform: translate3d(0px, 0, 0);
}

/* line 553, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-container-android .swiper-slide {
  transform: translate3d(0px, 0, 0);
}

/* line 558, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-container-multirow > .swiper-wrapper {
  flex-wrap: wrap;
}

/* line 563, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-container-multirow-column > .swiper-wrapper {
  flex-wrap: wrap;
  flex-direction: column;
}

/* line 569, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-container-free-mode > .swiper-wrapper {
  transition-timing-function: ease-out;
  margin: 0 auto;
}

/* line 574, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* line 584, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-slide .h2 {
  color: #fff;
  position: relative;
  z-index: 1;
  text-align: center;
  width: 40%;
  font-weight: normal;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

/* line 594, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-slide .btn-wrapper {
  position: relative;
  z-index: 1;
}

/* line 599, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-slide-invisible-blank {
  visibility: hidden;
}

/* line 602, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-container-autoheight {
  height: auto;
}

/* line 604, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-container-autoheight .swiper-slide {
  height: auto;
}

/* line 607, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-container-autoheight .swiper-wrapper {
  align-items: flex-start;
  transition-property: transform, height;
}

/* line 612, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-container-3d {
  perspective: 1200px;
}

/* line 614, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-container-3d .swiper-wrapper {
  transform-style: preserve-3d;
}

/* line 617, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-container-3d .swiper-slide {
  transform-style: preserve-3d;
}

/* line 620, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-container-3d .swiper-slide-shadow-left {
  transform-style: preserve-3d;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

/* line 631, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-container-3d .swiper-slide-shadow-right {
  transform-style: preserve-3d;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

/* line 642, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-container-3d .swiper-slide-shadow-top {
  transform-style: preserve-3d;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

/* line 653, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-container-3d .swiper-slide-shadow-bottom {
  transform-style: preserve-3d;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

/* line 664, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-container-3d .swiper-cube-shadow {
  transform-style: preserve-3d;
}

/* line 669, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-container-css-mode > .swiper-wrapper {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* line 673, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-container-css-mode > .swiper-wrapper::-webkit-scrollbar {
  display: none;
}

/* line 676, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-container-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start;
}

/* line 682, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-container-horizontal.swiper-container-css-mode > .swiper-wrapper {
  scroll-snap-type: x mandatory;
}

/* line 687, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-container-vertical.swiper-container-css-mode > .swiper-wrapper {
  scroll-snap-type: y mandatory;
}

/* line 691, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-button-prev1 {
  position: absolute;
  top: 50%;
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 40px;
}

/* line 701, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-button-prev1:after {
  content: '';
  background-image: url("../images/prev.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
}

/* line 711, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-button-next1 {
  position: absolute;
  top: 50%;
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 40px;
  right: 10px;
  left: auto;
}

/* line 723, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-button-next1:after {
  content: '';
  background-image: url("../images/next.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
}

/* line 732, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-button-next1, .swiper-button-prev1 {
  display: none;
}

/* line 733, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-button-prev.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}

/* line 738, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-button-next.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}

/* line 743, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-button-prev {
  left: 10px;
  right: auto;
}

/* line 748, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-container-rtl .swiper-button-next {
  left: 10px;
  right: auto;
}

/* line 752, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-container-rtl .swiper-button-prev1 {
  right: 10px;
  left: auto;
}

/* line 757, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-container-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  transform-origin: right top;
}

/* line 762, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-button-lock {
  display: none;
}

/* line 765, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
swiper-pagination1 {
  display: none;
}

/* line 766, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-pagination1 {
  position: absolute;
  text-align: center;
  transition: 300ms opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
  text-align: right;
}

/* line 774, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-pagination.swiper-pagination-hidden {
  opacity: 0;
}

/* line 777, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-pagination-fraction {
  bottom: 20px;
  left: 0;
  width: 100%;
  padding-right: 20px;
}

/* line 783, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-pagination-custom {
  bottom: 20px;
  left: 0;
  width: 100%;
  padding-right: 20px;
}

/* line 790, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 20px;
  left: 0;
  width: 100%;
  padding-right: 20px;
}

/* line 795, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 7px;
}

/* line 799, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

/* line 803, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transition: 200ms transform, 200ms left;
}

/* line 807, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-container-horizontal > .swiper-pagination-progressbar {
  width: 100%;
  height: 4px;
  left: 0;
  top: 0;
}

/* line 813, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-container-horizontal > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
  width: 4px;
  height: 100%;
  left: 0;
  top: 0;
}

/* line 819, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-container-horizontal > .swiper-scrollbar {
  position: absolute;
  left: 1%;
  bottom: 3px;
  z-index: 50;
  height: 5px;
  width: 98%;
}

/* line 828, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-pagination-bullets-dynamic {
  overflow: hidden;
  font-size: 0;
}

/* line 831, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transform: scale(0.33);
  position: relative;
}

/* line 835, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active {
  transform: scale(1);
}

/* line 838, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main {
  transform: scale(1);
}

/* line 841, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
  transform: scale(0.66);
}

/* line 844, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
  transform: scale(0.33);
}

/* line 847, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
  transform: scale(0.66);
}

/* line 850, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
  transform: scale(0.33);
}

/* line 854, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  display: inline-block;
  background: #fff;
}

/* line 860, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* line 870, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}

/* line 874, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-pagination-bullet-active {
  opacity: 1;
  background: #B1D95B;
}

/* line 880, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-container-horizontal.swiper-container-rtl > .swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transition: 200ms transform, 200ms right;
}

/* line 885, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-pagination-progressbar {
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
}

/* line 888, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: transparent;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transform-origin: left top;
}

/* line 899, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-pagination-white {
  color: #ffffff;
}

/* line 902, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-pagination-black {
  color: #000000;
}

/* line 905, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-pagination-lock {
  display: none;
}

/* line 908, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-scrollbar {
  border-radius: 10px;
  position: relative;
  -ms-touch-action: none;
  background: rgba(0, 0, 0, 0.1);
}

/* line 914, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  left: 0;
  top: 0;
}

/* line 923, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-scrollbar-cursor-drag {
  cursor: move;
}

/* line 926, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-scrollbar-lock {
  display: none;
}

/* line 929, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-zoom-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* line 936, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-zoom-container > img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

/* line 941, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-zoom-container > svg {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

/* line 946, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-zoom-container > canvas {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

/* line 952, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-slide-zoomed {
  cursor: move;
}

/* line 955, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  transform-origin: 50%;
  animation: swiper-preloader-spin 1s infinite linear;
  box-sizing: border-box;
  border: 3px solid #000;
  border-radius: 50%;
  border-top-color: transparent;
}

/* line 971, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-lazy-preloader-white {
  color: #fff;
}

/* line 974, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-lazy-preloader-black {
  color: #000;
}

/* line 978, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-container-fade.swiper-container-free-mode .swiper-slide {
  transition-timing-function: ease-out;
}

/* line 983, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-container-fade .swiper-slide {
  pointer-events: none;
  transition-property: opacity;
}

/* line 986, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-container-fade .swiper-slide .swiper-slide {
  pointer-events: none;
}

/* line 990, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-container-fade .swiper-slide-active {
  pointer-events: auto;
}

/* line 992, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-container-fade .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}

/* line 997, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-container-cube {
  overflow: visible;
}

/* line 999, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-container-cube .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1;
  visibility: hidden;
  transform-origin: 0 0;
  width: 100%;
  height: 100%;
}

/* line 1008, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-container-cube .swiper-slide .swiper-slide {
  pointer-events: none;
}

/* line 1012, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-container-cube .swiper-slide-active {
  pointer-events: auto;
  pointer-events: auto;
  visibility: visible;
}

/* line 1016, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-container-cube .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}

/* line 1020, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-container-cube .swiper-slide-next {
  pointer-events: auto;
  visibility: visible;
}

/* line 1024, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-container-cube .swiper-slide-next + .swiper-slide {
  pointer-events: auto;
  visibility: visible;
}

/* line 1030, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-container-cube .swiper-slide-prev {
  pointer-events: auto;
  visibility: visible;
}

/* line 1034, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-container-cube .swiper-slide-shadow-top {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* line 1039, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-container-cube .swiper-slide-shadow-bottom {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* line 1044, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-container-cube .swiper-slide-shadow-left {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* line 1049, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-container-cube .swiper-slide-shadow-right {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* line 1054, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-container-cube .swiper-cube-shadow {
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
  -webkit-filter: blur(50px);
  filter: blur(50px);
  z-index: 0;
}

/* line 1068, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-container-cube.swiper-container-rtl .swiper-slide {
  transform-origin: 100% 0;
}

/* line 1072, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-container-flip {
  overflow: visible;
}

/* line 1074, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-container-flip .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1;
}

/* line 1079, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-container-flip .swiper-slide .swiper-slide {
  pointer-events: none;
}

/* line 1083, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-container-flip .swiper-slide-active {
  pointer-events: auto;
}

/* line 1085, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-container-flip .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}

/* line 1089, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-container-flip .swiper-slide-shadow-top {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* line 1094, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-container-flip .swiper-slide-shadow-bottom {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* line 1099, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-container-flip .swiper-slide-shadow-left {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* line 1104, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper-container-flip .swiper-slide-shadow-right {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* line 1110, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.swiper1 {
  height: 480px;
}

/* line 1113, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.btn-one {
  background: #ff651a;
  padding: 1em;
  color: #fff;
  display: block;
  text-decoration: none;
}

/* line 1120, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.social-media-icons {
  position: absolute;
  z-index: 100;
  bottom: 20px;
  left: 20px;
}

/* line 1125, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.social-media-icons img {
  width: 25px;
  height: auto;
  margin-right: 15px;
}

/* line 1131, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.slider-next-section {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  width: 40px;
  z-index: 50;
  margin: auto;
}

/* line 1139, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.slider-next-section img {
  width: 40px;
  height: auto;
}

/* line 1144, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.slider-description {
  position: relative;
  z-index: 1;
  text-align: center;
  width: 100%;
  font-weight: bold;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 50px;
}

/* line 1145, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.slider-description p {
  color: #fff;
  font-family: 'Crimson Text';
  font-size: 30px;
  line-height: 32px;
}

/* line 1150, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.slider-description p a {
  color: #fff;
  text-decoration: none;
}

/* line 1164, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.introduction {
  padding-top: 90px;
}

@media only screen and (min-width: 992px) {
  /* line 1171, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
  .swiper-button-next1, .swiper-button-prev1 {
    display: flex;
  }
  /* line 1172, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
  .swiper-pagination1 {
    display: block;
  }
  /* line 1174, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
  .social-media-icons {
    display: block;
  }
  /* line 1177, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
  .slider-next-section {
    display: block;
  }
  /* line 1180, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
  .slider-description {
    width: 845px;
    background: rgba(255, 255, 255, 0.85);
    display: block;
    padding-top: 37px;
    padding-bottom: 37px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 60px;
  }
  /* line 1189, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
  .slider-description p {
    color: #000;
    line-height: 42px;
    font-weight: 600;
  }
  /* line 1193, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
  .slider-description p a {
    color: #B1D95B;
  }
}

@media only screen and (min-height: 480px) {
  /* line 1202, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
  .swiper1 {
    height: 100vh;
  }
}

@media only screen and (min-width: 767px) {
  /* line 1208, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
  .swiper-slide .h2 {
    font-size: 3rem;
    font-weight: 600;
  }
  /* line 1213, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
  .swiper-button-prev1 {
    left: 50px;
    right: auto;
  }
  /* line 1219, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
  .swiper-container-rtl .swiper-button-next1 {
    left: 50px;
    right: auto;
  }
  /* line 1223, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
  .swiper-container-rtl .swiper-button-prev1 {
    right: 50px;
    left: auto;
  }
  /* line 1228, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
  .swiper-button-next1 {
    right: 50px;
    left: auto;
  }
}

/* Layout1 */
/* line 1237, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.layout1 {
  padding-top: 60px;
  padding-bottom: 60px;
}

/* line 1238, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.layout1 .p a {
  color: #000;
}

@media only screen and (min-width: 768px) {
  /* line 1242, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
  .layout1 {
    padding-top: 100px;
  }
  /* line 1243, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
  .layout1 .p a {
    color: #B1D95B;
  }
}

/* Layout2 */
/* line 1249, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.layout2 {
  background: #f2f2f2;
  padding-top: 60px;
}

/* line 1250, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.layout2 .title {
  font-family: 'crimson text';
}

/* line 1251, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.layout2 .block {
  margin-bottom: 20px;
  padding-bottom: 15px;
}

/* line 1253, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.layout2 .block:after {
  content: '';
  background: #D9D1BA;
  height: 1px;
  width: 90%;
  position: absolute;
  bottom: 0;
  left: -10%;
}

/* line 1263, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.layout2 .img-block {
  padding-left: 0;
  padding-right: 0;
}

@media only screen and (min-width: 768px) {
  /* line 1268, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
  .layout2 {
    padding-top: 70px;
  }
  /* line 1269, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
  .layout2 .title {
    font-size: 20px;
  }
  /* line 1270, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
  .layout2 .block {
    padding-left: 60px;
    padding-right: 60px;
  }
  /* line 1273, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
  .layout2 .block:after {
    display: none;
  }
  /* line 1274, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
  .layout2 .block .description {
    margin-top: 10px;
  }
  /* line 1276, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
  .layout2 .img-block .img {
    width: 200px;
  }
}

/* Layout3 */
/* line 1285, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.layout3 {
  background: #fff;
  padding-top: 60px;
  padding-bottom: 60px;
}

/* line 1286, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.layout3 .product-grid {
  padding-left: 0;
  padding-right: 0;
}

/* line 1288, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.layout3 .product-grid .product-block {
  margin-bottom: 20px;
}

/* line 1289, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.layout3 .product-grid .title.mobile {
  font-family: 'crimson text';
  font-size: 18px;
}

/* line 1290, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.layout3 .product-grid .detail-block.mobile .description {
  font-family: 'crimson text';
  font-size: 16px;
  line-height: 20px;
}

@media only screen and (min-width: 768px) {
  /* line 1296, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
  .layout3 {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  /* line 1299, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
  .layout3 .product-grid {
    padding-left: 15px;
    padding-right: 15px;
  }
  /* line 1301, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
  .layout3 .product-grid .title.mobile {
    display: none;
  }
  /* line 1302, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
  .layout3 .product-grid .detail-block {
    display: none;
  }
  /* line 1303, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
  .layout3 .product-grid .product-block {
    position: relative;
    height: auto;
    margin-bottom: 30px;
  }
  /* line 1304, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
  .layout3 .product-grid .product-block .image-block {
    position: relative;
    left: 0;
    top: 0;
  }
  /* line 1305, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
  .layout3 .product-grid .product-block .image-block .img {
    max-height: 100%;
    box-shadow: 2px 3px 5px 1px rgba(0, 0, 0, 0.5);
  }
  /* line 1307, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
  .layout3 .product-grid .product-block .description-block {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  /* line 1308, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
  .layout3 .product-grid .product-block .description-block:hover .content-wrapper {
    opacity: 1;
  }
  /* line 1309, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
  .layout3 .product-grid .product-block .description-block .content-wrapper {
    position: absolute;
    z-index: 10;
    opacity: 0;
    height: 100%;
    transition: all 0.25s linear 0s;
  }
  /* line 1310, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
  .layout3 .product-grid .product-block .description-block .content-wrapper .content {
    display: flex;
    flex-direction: column;
    padding: 15%;
    top: 0;
    background: rgba(177, 217, 91, 0.85);
    position: relative;
    height: 100%;
    max-height: 100%;
  }
  /* line 1311, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
  .layout3 .product-grid .product-block .description-block .content-wrapper .content .title {
    color: #fff;
    position: relative;
    font-weight: 500;
    height: 40px;
    font-family: 'crimson text';
    font-size: 26px;
  }
  /* line 1312, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
  .layout3 .product-grid .product-block .description-block .content-wrapper .content .title:after {
    content: '';
    background: #fff;
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0%;
  }
  /* line 1322, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
  .layout3 .product-grid .product-block .description-block .content-wrapper .content .description {
    font-size: 16px;
  }
  /* line 1323, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
  .layout3 .product-grid .product-block .description-block .content-wrapper .content .btn-wrapper {
    margin-top: 30px;
    position: absolute;
    bottom: 0;
  }
  /* line 1324, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
  .layout3 .product-grid .product-block .description-block .content-wrapper .content .btn-wrapper .more-button1 {
    text-decoration: none;
  }
  /* line 1325, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
  .layout3 .product-grid .product-block .description-block .content-wrapper .content .btn-wrapper .more-button1 .text {
    padding-left: 20px;
  }
  /* line 1326, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
  .layout3 .product-grid .product-block .description-block .content-wrapper .content .btn-wrapper .more-button1:hover .text {
    padding-left: 10px;
    color: #fff;
  }
}

/* Layout 4 */
/* line 1344, E:/igments_____website_____projects/spawos-bundesverband/website/assets/scss/custom-styles.scss */
.layout4 {
  background: url(../images/layout4-bg-image.jpg);
  min-height: 300px;
}

/*# sourceMappingURL=custom-styles.css.map */